click>=8.0.4
torch>=1.12.1
numpy>=1.20.0
open3d>=0.9.0
tifffile>=2021.11.2
scikit-learn >=1.0.2
scikit-image>=0.19.2
requests>=2.27.1
ipython>=8.4.0
opencv-python>=4.5.5.64
pandas>=1.4.3
scipy>=1.8.0
