# Code testing
pytest>7.0.0

# PEP-8
flake8>5.0.0
black>23.0.0

# Build package
setuptools>67.2.0

# Plots
matplotlib>3.5.2

# Jupyter
jupyter>=1.0.0
notebook>6.5.2
trame>=3.2.0

# Point cloud processing library
open3d==0.9.0; sys_platform == "linux" and python_version < "3.8"
open3d>=0.9.0; sys_platform == "linux" and python_version >= "3.8"
open3d>0.16.0; sys_platform != "linux"
