# ML library
torch>1.10.0
numpy>1.21.0
pandas>1.3.0

# Image loading library
tifffile>2021.11.0
imagecodecs>2021.11.00

# Image processign library
scikit-learn>1.0.1
scikit-image>0.19.2
opencv-python>4.6.0.66
scipy>1.7.2
edt>=2.3.0

# External file format reader
plyfile>=0.9

# Other
requests>2.28.0
ipython>7.33.0
click>8.0.4
nvidia-smi>=0.1.3; sys_platform != 'darwin'
setuptools~=67.6.1
